.container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    padding: 12px 12px 24px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
}